.content {
	position: absolute;
	top: 100vh;
	width: 100%;
	padding: 0 6vw 6vh;
	background: url("../img/bg.png") repeat;
	background-size: cover;
	&__heading {
		font-size: clamp(10px, 4vw, 50px);
		font-weight: 600;
		width: 35vw;
	}
	#about {
		white-space: nowrap;
	}
	#functional {
		svg {
			width: clamp(5px, 2vw, 45px);
			height: clamp(5px, 2vw, 45px);
			margin-top: 1vw;
			margin-left: 1vw;
		}
	}
	#price {
		svg {
			width: clamp(24px, 5vw, 48px);
			height: clamp(16px, 3vw, 32px);
			margin-top: 2vw;
			margin-left: 1vw;
			overflow: visible;
		}
	}
	&__head {
		margin-top: 10vh;
		display: flex;
		justify-content: space-between;
		align-items: center;
		&__line {
			flex-grow: 1;
			margin-right: 5vw;
			height: 0.35vw;
			width: 30vw;
			background-color: rgba(217, 217, 217, 0.2);
		}
		&__copyright {
			font-size: clamp(10px, 2vw, 25px);
		}
	}
	&__quote {
		margin-top: 5vh;
		font-weight: 500;
		blockquote {
			width: 80vw;
			padding: 6vh 4vw;
			font-size: clamp(12px, 2vw, 22px);
			background-color: rgba(197, 197, 197, 0.05);
			border-bottom: 0.35vw solid #fff;
			border-radius: 17px 17px 0 0;
		}
		&__text {
			font-size: clamp(12px, 2vw, 22px);
			font-weight: 500;
			margin: 5vh 4vw;
		}
	}
	&__functional {
		margin-top: 8vh;
		&__cards {
			margin-top: 2vh;
		}
		&__head {
			display: flex;
			justify-content: space-between;
			align-items: center;
		}
	}
	&__note {
		font-size: clamp(8px, 1.5vw, 25px);
		font-weight: 500;
		background-color: rgba(47, 47, 47, 0.2);
		outline: 2px solid rgba(255, 255, 255, 0.2);
		display: flex;
		align-items: center;
		justify-content: center;
		&__text,
		&__img {
			padding: 2vw;
		}
		&__img {
			background-color: #d9d9d9;
			box-shadow: -10px 0 10px rgba(217, 217, 217, 0.2);
			svg {
				width: clamp(18px, 3vw, 30px);
				height: clamp(18px, 3vw, 30px);
			}
		}
	}
	&__advantages {
		margin-top: 8vh;
		&__head {
			display: flex;
			justify-content: space-between;
			align-items: center;
		}
	}
}
