.development {
	margin-top: 10vh;
	&__block {
		margin-top: 5vh;
		display: flex;
		background-color: rgba(47, 47, 47, 0.2);
		border: 0.2rem solid #424242;
		&__note {
			font-size: clamp(34px, 4vw, 48px);
			max-width: 180px;
			font-weight: 500;
			background-color: #eaeaea;
			color: #000;
			padding: 2vw 3vw;
			display: flex;
			align-items: center;
			justify-content: center;
			box-shadow: 20px 10px 100px rgba($color: #eaeaea, $alpha: 0.35);
			&--black {
				color: #fff;
				background-color: rgba(47, 47, 47, 0.2);
				box-shadow: 0 0 0 rgba($color: #000000, $alpha: 0);
				border-right: 0.2rem solid #424242;
			}
			svg {
				width: clamp(27px, 3vw, 32px);
				height: clamp(40px, 4vw, 64px);
			}
		}
		&__text {
			font-size: clamp(12px, 2vw, 22px);
			padding: 3.5vw;
			font-weight: 500;
		}
	}
	&__slider {
		&__arrow {
			width: clamp(50px, 10vw, 100px);
			padding: clamp(6px, 1.2vw, 14px);
			height: clamp(25px, 5vw, 50px);
			bottom: -20px;
			right: 3vw;
			position: absolute;
			outline: 0.2rem solid #424242;
			background-color: #1e1e1e;
			z-index: 20;
			transition: all 0.2s ease-in-out;
			&:hover {
				background-color: #323232;
			}
			&.--left {
				right: clamp(65px, 12vw, 150px);
			}
			&.--science {
				right: 42.5vw;
				bottom: -10vw;
				&.--right {
					right: 5vw;
					&::before {
						content: "";
						position: absolute;
						background-color: #1e1e1e;
						height: 1vw;
						width: 15vw;
						outline: 0.2rem solid #424242;
						right: 17.5vw;
						top: 2vw;
					}
				}
			}
			img {
				width: 100%;
				height: 100%;
			}
		}
	}
}

.carousel {
	overflow: visible !important;
	& .slide {
		text-align: left !important;
	}
}
.no-select {
	cursor: pointer;
	user-select: none;
}
