.functional {
	&__card {
		display: flex;
		justify-content: space-between;
		align-items: center;
		height: clamp(100px, 15vw, 250px);
		&__image {
			width: 10vw;
			&__frame {
				width: 13vw;
				padding: 1vw;
				display: flex;
				justify-content: center;
				align-items: center;
				border: 0.35vw solid #474d50;
			}
		}
		&__text {
			display: flex;
			flex-direction: column;
			width: 75vw;
			margin: 0 5vw;
			&__heading {
				font-size: clamp(12px, 3vw, 30px);
				font-weight: 600;
				white-space: nowrap;
			}
			&__braces {
				color: #74e6ff;
				text-shadow: 3px 3px 20px rgba(116, 230, 255, 0.712);
			}
			&__content {
				font-size: clamp(12px, 2vw, 30px);
				opacity: 0.7;
				margin-top: 2vh;
			}
		}
	}
	&__btn {
		margin-top: 4vh;
		color: #fff;
		font-weight: 500;
		font-size: clamp(10px, 2vw, 25px);
		padding: 2vh 3vw;
		outline: 0.2vw solid rgba(255, 255, 255, 0.2);
		background: rgba(217, 217, 217, 0.01);
		display: flex;
		justify-content: center;
		align-items: center;
		transition: all 0.1s linear;
		svg {
			width: clamp(10px, 2vw, 25px);
			height: clamp(10px, 2vw, 25px);
			padding: 0;
			margin-left: 5px;
		}
		&:hover {
			background: rgba(255, 255, 255, 0.2);
			box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
		}
	}
}
