@mixin linkAnimation() {
	&:hover {
		&::before {
			transform: scaleX(1);
			transition: transform 0.25s ease-in-out;
			transform-origin: left;
		}
	}
	&::before {
		content: "";
		width: 100%;
		height: 2px;
		background-color: #d9d9d9;
		position: absolute;
		left: 0;
		bottom: -5px;
		transform: scaleX(0);
		transform-origin: right;
		transition: transform 0.25s ease-in-out;
	}
}

.header {
	width: 100vw;
	height: 10vh;
	position: absolute;
	z-index: 10;
	background: transparent;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 6vw;
	white-space: nowrap;
	&__logo {
		border: 2px solid rgba(248, 248, 248, 0.2);
		border-radius: 12px;
		letter-spacing: 1.5px;
		font-weight: 600;
		text-align: center;
		width: 10vw;
		padding: clamp(10px, 2vw, 15px) clamp(80px, 15vw, 100px);
		font-size: clamp(10px, 0.75vw, 12px);
		display: flex;
		justify-content: center;
		align-items: center;
		white-space: normal;
	}
	&__nav {
		display: flex;
		justify-content: space-around;
		align-items: center;
		padding: 5vw;
		font-size: clamp(8px, 1.6vw, 20px);
		&link {
			margin-left: 3vw;
			position: relative;
			@include linkAnimation();
		}
	}
	&__link {
		font-size: clamp(10px, 2vw, 24px);
		position: relative;
		justify-self: flex-end;
		color: #fff;
		@include linkAnimation();
		svg {
			margin-left: 10px;
		}
	}
	&__burger {
		display: none;
	}
	@media (max-width: 954px) {
		justify-content: space-between;
		padding: 0 6vw;
		&__nav,
		&__link {
			display: none;
		}
		&__burger {
			display: block;
		}
	}
}
