.science {
	margin-top: 8vh;
	&__blocks {
		margin-top: 8vh;
		display: flex;
		align-items: center;
		justify-content: space-around;
	}
	&__block {
		width: 28vw;
		height: 28vw;
		display: flex;
		align-items: center;
		justify-content: center;
		background-color: rgba(47, 47, 47, 0.2);
		outline: 0.33vw solid rgba(255, 255, 255, 0.2);
		font-size: clamp(30px, 10vw, 100px);
		font-weight: 600;
		position: relative;
		transition: background 0.2s ease-in-out;
		&::after {
			content: "";
			width: 1.5vw;
			height: 1.5vw;
			border-radius: 50%;
			background-color: #ffffff;
			position: absolute;
			right: 1vw;
			top: 1vw;
		}
		&.--active {
			background-color: #fff;
			color: #000;
			outline: none;
			font-size: clamp(6px, 1.6vw, 30px);
			font-weight: 400;
			padding: 5vw;
			&::after {
				content: "";
				background-color: #000;
			}
		}
		img {
			width: clamp(30px, 10vw, 100px);
			height: clamp(30px, 10vw, 100px);
		}
	}
}
