.science {
	margin-top: 10vh;
	&__blocks {
		margin-top: 4vh;
		display: flex;
		align-items: center;
		justify-content: space-around;
		@media (max-width: 600px) {
			padding: 0 12.5vw;
		}
	}
	&__block {
		width: 25vw;
		height: 25vw;
		display: flex;
		align-items: center;
		justify-content: center;
		background-color: rgba(47, 47, 47, 0.2);
		border: 2px solid rgba(255, 255, 255, 0.2);
		font-size: clamp(50px, 10vw, 100px);
		font-weight: 600;
		position: relative;
		transition: background 0.2s ease-in-out;
		&::after {
			content: "";
			width: 1.5vw;
			height: 1.5vw;
			border-radius: 50%;
			background-color: #ffffff;
			position: absolute;
			right: 1vw;
			top: 1vw;
		}
		@media (max-width: 600px) {
			width: 50vw;
			height: 50vw;
			&::after {
				content: "";
				width: 3vw;
				height: 3vw;
			}
		}
		&.--active {
			background-color: #fff;
			color: #000;
			outline: none;
			font-size: clamp(14px, 1.6vw, 30px);
			font-weight: 400;
			padding: 5vw;
			&::after {
				content: "";
				background-color: #000;
			}
		}
		img {
			width: clamp(50px, 10vw, 100px);
			height: clamp(50px, 10vw, 100px);
		}
	}
	.carousel .slider-wrapper {
		overflow: visible !important;
	}
}
