.stages {
	$border-width: clamp(1px, 0.35vw, 3px);
	margin-top: 10vh;
	&__blocks {
		margin-top: 3vh;
		display: flex;
		overflow-x: auto;
		overflow-y: hidden;
	}
	&__block {
		width: clamp(200px, 25vw, 280px);
		margin: 3vw 0 3vw 10vw;
		&:first-of-type {
			margin-left: 0.35vw;
		}
		&__number {
			color: rgba(255, 255, 255, 0.5);
			font-size: clamp(14px, 3vw, 24px);
			width: 4.5vw;
			height: 4.5vw;
			display: flex;
			justify-content: center;
			align-items: center;
			background-color: rgba(217, 217, 217, 0.01);
			outline: $border-width solid #424242;
			border-radius: 0 7px 0 0;
		}
		&__line {
			border-bottom: $border-width solid #424242;
			width: 20vw;
		}
		&__text {
			margin-top: 2vw;
			font-size: clamp(12px, 2vw, 20px);
		}
		&__img {
			width: clamp(50px, 10vw, 100px);
			height: clamp(50px, 10vw, 100px);
			position: relative;
			left: 10vw;
			top: 1vw;
		}
	}
}
