@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import "reset";
@import "header";

body {
	background-color: #0e1213;
	overflow-x: hidden;
	font-family: "Montserrat", "Helvetica Neue", Arial, Helvetica, sans-serif;
	color: #fff;
}

.main {
	&__background {
		width: 100vw;
		height: 90vh;
		background-size: cover;
		background-image: url("../img/main-background.png");
		position: absolute;
	}
	&__hand {
		$handWidth: clamp(115px, 40vw, 600px);
		$handHeight: clamp(100px, 60vh, 800px);
		width: $handWidth;
		height: $handHeight;
		position: absolute;
		bottom: 10vh;
		right: 0;
		background-repeat: no-repeat;
		background-size: $handWidth $handHeight;
		background-image: url("../img/main-hand.png");
		@media (max-width: 1024px) {
			right: -25vw;
			bottom: 20vh;
			height: 50vh;
			width: 60vw;
			background-size: 60vw 50vh;
		}
	}
}
