* {
	padding: 0;
	margin: 0;
	border: 0;
}
*,
*::before,
*::after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,
:active {
	outline: none;
}
a:focus,
a:active {
	outline: none;
}
nav,
footer,
header,
aside {
	display: block;
}
html,
body {
	height: 100%;
	width: 100%;
	line-height: 1;
	font-size: 10px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
	font-family: inherit;
}
input::-ms-clear {
	display: none;
}
button {
	cursor: pointer;
}
button::-moz-focus-inner {
	padding: 0;
	border: 0;
}
a,
a:visited,
a:hover {
	text-decoration: none;
	color: inherit;
}
ul li {
	list-style: none;
}
img {
	vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: inherit;
	font-weight: 400;
}

body {
	background-color: #0e1213;
	overflow-x: hidden;
}

.main {
	&__background {
		width: 100vw;
		height: 90vh;
		position: relative;
		background-size: cover;
		background-image: url("../img/main-background.png");
	}
	&__hand {
		width: 35vw;
		height: 80vh;
		position: absolute;
		right: 0;
		bottom: 10vh;
		background-size: contain 80vh;
		background-repeat: no-repeat;
		background-image: url("../img/main-hand.png");
	}
}
