@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import "reset";
@import "header";
@import "burgerMenu";
@import "content";
@import "functional";
@import "advantage";
@import "development";

body {
	background-color: #0e1213;
	overflow-x: hidden;
	font-family: "Montserrat", "Helvetica Neue", Arial, Helvetica, sans-serif;
	color: #fff;
}

* {
	letter-spacing: 0.22vw;
	text-transform: uppercase;
	&::selection,
	&::-moz-selection {
		background: rgba(116, 230, 255, 0.5);
	}
}

.main {
	width: 100vw;
	height: 100vh;
	overflow-x: hidden;
	&__background {
		width: 100vw;
		height: 100vh;
		background-size: cover;
		background-image: url("../img/main-background.png");
		position: absolute;
	}
	&__hand {
		$handWidth: clamp(115px, 40vw, 800px);
		$handHeight: clamp(100px, 70vh, 1000px);
		width: $handWidth;
		height: $handHeight;
		position: absolute;
		bottom: 0;
		right: 0;
		background-repeat: no-repeat;
		background-size: $handWidth $handHeight;
		background-image: url("../img/main-hand.png");
		@media (max-width: 1080px) {
			right: -25vw;
			bottom: 20vh;
			height: 50vh;
			width: 60vw;
			background-size: 60vw 50vh;
		}
	}
	&__heading {
		width: 40vw;
		margin-top: 33vh;
		margin-left: 6vw;
		font-size: clamp(16px, 5.8vw, 50px);
		&__transparent {
			opacity: 0.5;
		}
	}
	&__btn {
		width: 45vw;
		padding: 3vw;
		margin-left: 6vw;
		margin-top: 3vh;
		font-size: clamp(8px, 1.5vw, 25px);
		white-space: nowrap;
		color: #fff;
		outline: 2px solid rgba(255, 255, 255, 0.2);
		background: transparent;
		display: flex;
		justify-content: center;
		align-items: center;
		position: relative;
		transition: box-shadow 0.25s ease-in-out;
		@media (max-width: 871px) {
			padding: 4vw;
		}
		@media (max-width: 500px) {
			padding: 5vw;
		}
		div {
			position: absolute;
			display: flex;
			justify-content: center;
			align-items: center;
			svg {
				width: clamp(5px, 2vw, 25px);
				padding: 0;
				margin-left: 5px;
			}
		}
		&::before {
			content: "";
			position: absolute;
			background: inherit;
			z-index: 0;
			top: 0;
			left: 0;
			bottom: 0;
			right: 0;
			box-shadow: inset 0 0 0 3000px rgba(47, 47, 47, 0.2);
			backdrop-filter: blur(10px);
		}
		span {
			position: absolute;
			z-index: 1;
			top: 50%;
			left: 50%;
		}
		&:hover {
			box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
		}
	}
}
